<html>
<head>
    <title>Переговорные | {{header}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="/js/custom.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="justify-content-start">
            {{#parent}}
                <button class="btn btn-secondary" onclick="location.href = '{{.}}'">
                    <span class="material-icons">arrow_back</span>
                </button>
            {{/parent}}
            <span style="margin-left: .5rem" class="navbar-brand mb-0 h1">{{header}}</span>
        </div>
        {{#username}}
            <div class="justify-content-end">
                <a style="nav-link" href="/logout">Выйти</a>
            </div>
        {{/username}}
    </div>
</nav>