<html>
<head>
    <title>Переговорные | {{header}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <div class="justify-content-start navbar-brand">
            {{#parent}}
                <button class="btn btn-secondary" onclick="location.href = '{{.}}'">
                    <span class="material-icons">arrow_back</span>
                </button>
            {{/parent}}
            <span style="margin-left: .5rem" class="mb-0">{{header}}</span>
        </div>
        {{#username}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExample05">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {{#isManagerOrEmployee}}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/rooms">Комнаты</a>
                        </li>
                    {{/isManagerOrEmployee}}
                    {{#isManager}}
                        <il class="nav-item">
                            <a class="nav-link" href="/options_room">Опции</a>
                        </il>
                    {{/isManager}}
                    {{#isAdmin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Пользователи</a>
                        </li>
                    {{/isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link disabled">{{.}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выйти</a>
                    </li>
                </ul>
            </div>
        {{/username}}
    </div>
</nav>