<html>
<head>
    <title>Переговорные | {{header}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid justify-content-start">
        <button class="btn btn-secondary" onclick="window.history.back()">
            <span class="material-icons">arrow_back</span>
        </button>
        <span style="margin-left: .5rem" class="navbar-brand mb-0 h1">{{header}}</span>
    </div>
</nav>