{{>header}}
<div class="container">
    <div class="row">
        <div class="col">
            {{#icon}}
                <button class="btn btn-outline-primary btn-lg" style="margin-left: .25rem; margin-top: .25rem">
                    <a class="mdi {{name}} text-primary"></a>
                </button>
            {{/icon}}
        </div>
    </div>
</div>
{{>footer}}