{{>header}}
<div class="container-fluid" style="margin-top: 1rem">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" style="margin-left: auto" onclick="location.href='/rooms/new'">
            Добавить комнату
        </button>
    </div>
    <div style="margin-top: .5rem">
        {{>rooms}}
    </div>
</div>
{{>footer}}