{{>header}}
<div class="container">
    <H1>Login</H1>
    <form action="/api/login" method="POST" onsubmit="OnSubmit(this);return false">
        <div class="mb-3">
            <label for="login" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" name="username" autofocus><br>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password"
                   name="password"><br>
            <input type="submit" class="btn btn-secondary" value="Enter" name="submit">
        </div>
    </form>
</div>
<script src="/../js/app.js"></script>
<script src="/../js/md5_min.js"></script>
{{>footer}}