{{>header}}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Иконка</th>
                    <th>Название</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        ИКОНКА
                    </td>
                    <td>
                        Название
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{>footer}}