{{>header}}
<div class="container">
    <div class="d-flex justify-content-end" style="margin-top: 1rem">
        <button class="btn btn-primary" onclick="location.href = '/options_room/new'">Добавить опцию</button>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Иконка</th>
                    <th>Название</th>
                </tr>
                </thead>
                <tbody>
                {{#optionsRoom}}
                    <tr onclick="location.href = '/options_room/{{id}}'">
                        <td>
                            <a class="mdi {{icon}}"></a>
                        </td>
                        <td>
                            <span>{{name}}</span>
                        </td>
                    </tr>
                {{/optionsRoom}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>footer}}