{{>header}}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Иконка</th>
                    <th>Название</th>
                </tr>
                </thead>
                <tbody>
                {{#optionsRoom}}
                    <tr>
                        <td>
                            <a class="mdi {{icon}}"></a>
                        </td>
                        <td>
                            <span>{{name}}</span>
                        </td>
                    </tr>
                {{/optionsRoom}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{>footer}}