{{>header}}
<div class="container">
    <div class="card shadow" style="margin-top: .5rem">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Название роли
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Роль</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{>footer}}