{{>header}}
{{#room}}
    <div class="container-fluid">
        <div class="card shadow" style="margin-top: 1rem">
            <div class="card-body">
                <div style="margin-top: .5rem" class="d-flex justify-content-end">
                    <button class="btn btn-primary">
                        <span class="material-icons">edit</span>
                        <span>Редактировать</span>
                    </button>
                </div>
                <p>В комнате мест: <b>{{countOfPlaces}}</b></p>
                <p><b>{{description}}</b></p>
                <table class="table">
                    <tbody>
                    <tr scope="row">
                        <td></td>
                        <td>В комнате имеется</td>
                    </tr>
                    {{#optionsRooms}}
                        <tr scope="row">
                            <td><span class="{{iconPack}} {{icon}}"></span></td>
                            <td>{{name}}</td>
                        </tr>
                    {{/optionsRooms}}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{{/room}}

<div class="card shadow" style="margin-top: 1rem">
    {{^roomDetail.isEmpty}}
        <table class="table table-bordered">
            <thead>
            <th scope="col">Сотрудник</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col" class="d-sm-none d-md-block d-none d-sm-block">Описание</th>
            <th scope="col"></th>
            </thead>
            <tbody>
            {{#roomDetail}}
                <tr scope="row">
                    <td>{{user}}</td>
                    <td>{{date}}</td>
                    <td>{{start}}-{{end}}</td>
                    <td class="d-sm-none d-md-block d-none d-sm-block">{{description}}</td>
                    {{#isAdminOrSuper}}
                        <td>
                            <button class="btn btn-success btn-sm"><span class="material-icons text-light"
                                                                         style="font-size: .75rem">done</span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"><span class="material-icons text-light"
                                                                        style="font-size: .75rem">close</span>
                            </button>
                        </td>
                    {{/isAdminOrSuper}}
                    {{^isAdminOrSuper}}
                        <td>
                            {{#isProofed}}
                                <span class="material-icons text-success">done</span>
                            {{/isProofed}}
                            {{^isProofed}}
                                <span class="material-icons text-danger">close</span>
                            {{/isProofed}}
                        </td>
                    {{/isAdminOrSuper}}
                </tr>
            {{/roomDetail}}
            </tbody>
        </table>
    {{/roomDetail.isEmpty}}
    {{#roomDetail.isEmpty}}
        <h5 class="text-center">Список пуст</h5>
    {{/roomDetail.isEmpty}}
    <div class="d-flex justify-content-end" style="margin-top: .5rem">
        <button class="btn btn-primary" onclick="location.href='/rooms/{{id}}/reserve'">Забронировать</button>
    </div>
</div>
{{>footer}}