{{>header}}

<div class="container">
    {{#room}}

        {{#isManager}}
            <div style="margin-top: 1rem" class="d-flex justify-content-end">
                <button class="btn btn-danger"
                        onclick="doFetch('/api/rooms/{{id}}', 'DELETE')">
                    <span>Удалить</span>
                </button>
                <button class="btn btn-primary" onclick="location.href = '/rooms/{{room.id}}/edit'">
                    <span>Редактировать</span>
                </button>
            </div>
        {{/isManager}}

        <div class="card shadow" style="margin-top: 1rem">
            <div class="card-body">

                <p>Количество неподтверждных броней: <span class="badge alert-danger">{{countOfUnproofedReserve}}</span>
                </p>
                <p>Количество подтвержденных броней: <span
                        class="badge alert-success">{{countOfProofedReserveToday}}</span></p>
                <p>В комнате мест: <b>{{countOfPlaces}}</b></p>
                <p><b>{{description}}</b></p>
                <table class="table">
                    <tbody>
                    <tr scope="row">
                        <td>Опции</td>
                        <td></td>
                    </tr>
                    {{#optionsRooms}}
                        <tr scope="row">
                            <td><span class="mdi {{icon}}"></span></td>
                            <td>{{name}}</td>
                        </tr>
                    {{/optionsRooms}}
                    </tbody>

                </table>
            </div>
        </div>
    {{/room}}
    <div class="card shadow" style="margin-top: 1rem">
        {{^roomDetail.isEmpty}}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Сотрудник</th>
                    <th scope="col">Дата</th>
                    <th scope="col" class="d-sm-none d-md-block d-none d-sm-block">Описание</th>
                </tr>

                </thead>
                <tbody>
                {{#roomDetail}}
                    <tr scope="row"
                        {{#isProofed}}class="table-success"{{/isProofed}} {{^isProofed}}class="table-danger"{{/isProofed}}>
                        <td>{{user}}</td>
                        <td>{{date}} {{start}}-{{end}}</td>
                        <td class="d-sm-none d-md-block d-none d-sm-block">{{description}}</td>
                    </tr>
                {{/roomDetail}}
                </tbody>
            </table>
        {{/roomDetail.isEmpty}}
        {{#roomDetail.isEmpty}}
            <h5 class="text-center">Список пуст</h5>
        {{/roomDetail.isEmpty}}
        <div class="d-flex justify-content-end" style="margin: 1rem">
            <button class="btn btn-primary" onclick="location.href='/rooms/{{id}}/reserve'">Забронировать</button>
        </div>
    </div>
</div>


<script src="../../js/app.js"></script>
{{>footer}}