{{>header}}
<div class="container">
    <h1>Добавить комнату</h1>
    <form>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </form>
</div>
{{>footer}}