{{>header}}
{{#room}}
    <div class="container-fluid">
        <h2 class="text-center text-capitalize">{{name}}</h2>
        <div class="card shadow" style="margin-top: 1rem">
            <div class="card-body">
                <p>{{countOfPlaces}} мест</p>
                <p>{{description}}</p>

                <table class="table">
                    <thead>
                    <th scope="col"></th>
                    <th scope="col">В комнате имеется</th>
                    </thead>
                    <tbody>
                    {{#optionsRooms}}
                        <tr scope="row">
                            <th><img src="/images/{{name}}.png" alt="{{name}}"/></th>
                            <th>{{localizedName}}</th>
                        </tr>
                    {{/optionsRooms}}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{{/room}}

<div class="card shadow" style="margin-top: 1rem">
    {{^roomDetail.isEmpty}}
        <table class="table" style="margin-top: .5rem">
            <thead>
            <th scope="col">Сотрудник</th>
            <th scope="col">Офис менеджер</th>
            <th scope="col">Начало</th>
            <th scope="col">Конец</th>
            <th scope="col">Описание</th>
            </thead>
            <tbody>
            {{#roomDetail}}
                <tr scope="row">
                    <th>{{user}}</th>
                    <th>{{proof}}</th>
                    <th>{{start}}</th>
                    <th>{{end}}</th>
                    <th>{{description}}</th>
                </tr>
            {{/roomDetail}}
            </tbody>
        </table>
    {{/roomDetail.isEmpty}}
    {{#roomDetail.isEmpty}}
        <h5 class="text-center">Список пуст</h5>
    {{/roomDetail.isEmpty}}
    <div class="d-flex justify-content-end" style="margin-top: .5rem">
        <button class="btn btn-primary" onclick="location.href='/rooms/{{id}}/reserve'">Забронировать</button>
    </div>
</div>
{{>footer}}