{{>header}}
<div class="container">
    <div class="card shadow" style="margin-top: 1rem">
        {{#user}}
            <div class="card-body">
                <form action="/api/users/{{id}}/edit" method="POST" onsubmit="OnSubmit(this);return false">
                    <label class="form-label" for="firstName">Имя</label>
                    <input class="form-control" value="{{firstName}}" type="text" id="firstName" name="firstName">
                    <div class="valid-feedback" id="firstNameValidator">
                    </div>
                    <label class="form-label" for="lastName">Фамилия</label>
                    <input class="form-control" value="{{lastName}}" type="text" id="lastName" name="lastName">
                    <div class="valid-feedback" id="lastNameNameValidator">
                    </div>
                    <label class="form-label" for="login">Имя пользователя</label>
                    <input class="form-control-textplain" type="text" readonly value="{{login}}" id="login"
                           name="login">
                    <div class="valid-feedback" id="loginValidator">
                    </div>
                    <label class="form-label" for="name">Пароль</label>
                    <input class="form-control" type="text" id="pass"
                           name="pass">
                    <label class="form-label" for="role">Текущии роли: {{rolesSet}}</label>
                    <select multiple="multiple" class="form-select" type="text" id="role"
                            name="role">
                        {{#role}}
                            <option value="{{name}}">{{name}}</option>
                        {{/role}}
                    </select>
                    <div class="d-flex justify-content-end" style="margin-top: .5rem">
                        <button class="btn btn-primary" type="submit">Изменить пользователя</button>
                    </div>
                </form>
            </div>
        {{/user}}
    </div>
</div>
<script src="../../js/app.js"></script>
<script src="../../js/md5_min.js"></script>
{{>footer}}