{{>header}}
<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="/api/users/new" id="form" method="POST" class="needs-validation"
                  onsubmit="OnSubmit(this);return false">
                <div>
                    <label class="form-label" for="firstName">Имя</label>
                    <input class="form-control" type="text" id="firstName" name="firstName">
                    <div class="invalid-feedback" id="firstNameValidator">
                    </div>
                </div>

                <label class="form-label" for="lastName">Фамилия</label>
                <input class="form-control" type="text" id="lastName" name="lastName">
                <div class="invalid-feedback" id="lastNameNameValidator">
                </div>
                <label class="form-label" for="login">Имя пользователя</label>
                <input class="form-control" type="text" id="login"
                       name="login">
                <div class="invalid-feedback" id="loginValidator">
                </div>
                <label class="form-label" for="name">Пароль</label>
                <input class="form-control" type="text" id="pass"
                       name="pass">
                <label class="form-label" for="role">Роль</label>
                <select multiple="multiple" class="form-select" type="text" id="role"
                        name="role">
                    {{#roles}}
                        <option value="{{name}}">{{name}}</option>
                    {{/roles}}
                </select>
                <div class="d-flex justify-content-end" style="margin-top: .5rem">
                    <button class="btn btn-primary" type="submit">Добавить пользователя</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../js/app.js"></script>
<script src="../../js/md5_min.js"></script>
{{>footer}}